<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sc chat</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
   


   <!-- <form id="login"><h2>login</h2>
        <input type="text" name="username" placeholder="Username"></input>
        <input type="text" name="password" type="password" placeholder="Password"></input>
        <input type="submit" name="submit" value="login" placeholder="submit"></input>  
   </form> -->

   <form id="register" method="POST" action="/signup"><h2>register</h2>
        <input type="text" name="username" placeholder="Username"></input>
        <input type="text" name="password" type="password" placeholder="Password"></input>
        <input type="submit" name="submit" value="register" placeholder="submit"></input>
    </form>


   <!-- <script>
       const form = document.querySelector('#register');
       form.addEventListener('submit', (e) => { 
            e.preventDefault();

            const mail = form.email.value;
            const pwd = form.password.value;

       })


   </script> -->

</body>
</html>